body {
  color: black;
  margin: 0;
}

#text {
  font-family: Arial;
  font-size: xx-large;
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-group label {
  margin-bottom: 0.5em;
}
