<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Alert View - {{alert_name}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=800,height=600, initial-scale=1" />
    <link rel="stylesheet" href="/static/style.css?_c={{cache_bust}}" />
    <meta property="og:type" content="website" />
    <script>
      window.onload = function () {
        history.replaceState(null, null, "/alert/{{alert_id}}");

      };
      // add ws listener and on update change the page
      const protocol =
        window.location.protocol === "http:" ? "ws://" : "wss://";
      var timerId;
      function connect() {
        var ws = new WebSocket(
          protocol + window.location.host + "/ws/{{alert_id}}"
        );
        ws.onmessage = function (event) {
          var data = JSON.parse(event.data);
          if (data.type === "update") {
            window.location.reload();
          }
          if (data.type === "message_markdown") {
            console.log("got message as markdown", data);
            document.getElementById("text").innerHTML = data.text;
          }
        };
        ws.onopen = function () {
          clearInterval(timerId);

          ws.send(
            JSON.stringify({
              type: "init",
              alert_id: "{{alert_id}}",
            })
          );
          ws.onclose = function () {
            timerId = setInterval(() => {
              connect();
            }, 10000);
          };
        };
      }
      connect();
    </script>
  </head>
  <body>
    <!--Render the text-->
<div>
    <div id="text" class="alert-text">{{last_text.to_markdown()}}</div>
  </svg>
</div>
  </body>
</html>
