<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Update Alert: {{alert_name}}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/style.css?_c={{cache_bust}}" />
    <meta property="og:type" content="website" />
    <script>
      history.replaceState(null, null, "?");
      update_text = function () {
        var text = document.getElementById("alert_text").value;
        var queryParams = new URLSearchParams(window.location.search);
        queryParams.set("alert_text", text);
        history.replaceState(null, null, "?" + queryParams.toString());
        window.location.reload();
      };
    </script>
  </head>
  <body class="center">
    <h1>Update alert: {{alert_name}}</h1>
    <p>Link: <a href="/alerts/{{alert_id}}">{{alert_id}}</a></p>

    <form>
      <div class="input-group">
        <label for="alert_text">Update text</label>
      <textarea
        id="alert_text"
        name="alert_text"
        class="alert-text alert-text-editor"
        placeholder="Inital Alert Text"
      >{{last_text}}</textarea>
      <input
        id="submit"
        type="submit"
        value="Update Alert"
        onclick="update_text()"
      />
      </div>
    </form>
  </body>
</html>
